body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("fondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto; /* Cambiado a auto para evitar scroll */
    padding: 20px; /* Espacio adicional alrededor */
}

.encabezado, h4 {
    color: #f08f80;
    font-family: 'Arial', sans-serif;
    margin-bottom: 10px; /* Reduce el espacio debajo de este texto */
    font-size: 0.9rem; /* Tamaño de fuente restaurado */
}

h4 { 
    font-size: 1rem; /* Tamaño de fuente restaurado */
    text-align: left;
    margin-bottom: 5px;  
}

.box {
    width: 90%; /* Ancho relativo para que se ajuste a la pantalla */
    max-width: 350px; /* Ajustar el ancho máximo */
    background-color: white;
    padding: 15px; /* Reduce el padding dentro de la caja */
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 2px solid #f08f80;
}

input {
    padding: 0.6rem; /* Tamaño de padding restaurado */
    border-radius: 0.5em;
    width: 90%; /* Ajusta el ancho de los inputs */
    border: 1px solid #d17e6b;
    margin-bottom: 8px; /* Reduce el espacio entre los inputs */
    font-size: 0.9rem; /* Tamaño de fuente restaurado */
    color: #666;
}

button {
    width: 60%; /* Ajustar el ancho del botón */
    padding: 1rem; /* Tamaño de padding restaurado */
    background-color: #d17e6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem; /* Tamaño de fuente restaurado */
    margin-top: 10px; /* Reduce el margen superior */
}

button:hover {
    background-color: #ff6666;
}

.input-group i {
    padding: 8px; /* Reduce el padding del ícono */
    color: #999;
    background-color: white;
}